{% include header.html %}
<div class="row">
	<div class="portfolio large-12 columns">
		<h1>{{ page.title }}</h1>

		<!-- Using both block grids together for different layouts -->
		<ul class="small-block-grid-1 large-block-grid-3">
		  <li><img src="http://placehold.it/600x350"></li>
		  <li><img src="http://placehold.it/600x350"></li>
		  <li><img src="http://placehold.it/600x350"></li>
		</ul>

		<ul class="small-block-grid-1 large-block-grid-3">
		  <li><img src="http://placehold.it/600x350"></li>
		  <li><img src="http://placehold.it/600x350"></li>
		  <li><img src="http://placehold.it/600x350"></li>
		</ul>

		<ul class="small-block-grid-1 large-block-grid-3">
		  <li><img src="http://placehold.it/600x350"></li>
		  <li><img src="http://placehold.it/600x350"></li>
		  <li><img src="http://placehold.it/600x350"></li>
		</ul>


	</div>
	

	<!-- <div class="content large-9 columns">
		<h1>{{ page.title }}</h1>
		<p class="date">{{ page.date | date: "%B %d, %Y" }}</p>
	  {{ content }}
	</div> -->
</div>
{% include footer.html %}